@charset "UTF-8";
/* Slider */
/* line 40, ../scss/slick-theme.scss */
.slick-loading .slick-list { background: #fff url('../images/ajax-loader.gif?1448797674') center center no-repeat; }

/* Icons */
@font-face { font-family: "slick"; src: url('../fonts/slick.eot?1448797674'); src: url('../fonts/slick.eot?&1448797674#iefix') format("embedded-opentype"), url('../fonts/slick.woff?1448797674') format("woff"), url('../fonts/slick.ttf?1448797674') format("truetype"), url('../fonts/slick.svg?1448797674#slick') format("svg"); font-weight: normal; font-style: normal; }
/* Arrows */
/* line 58, ../scss/slick-theme.scss */
.slick-prev, .slick-next { position: absolute; display: block; height: 20px; width: 20px; line-height: 0px; font-size: 0px; cursor: pointer; background: transparent; color: transparent; top: 50%; margin-top: -10px\9; /*lte IE 8*/ -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); padding: 0; border: none; outline: none; }
/* line 77, ../scss/slick-theme.scss */
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus { outline: none; background: transparent; color: transparent; }
/* line 81, ../scss/slick-theme.scss */
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before { opacity: 1; }
/* line 85, ../scss/slick-theme.scss */
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: 0.25; }

/* line 90, ../scss/slick-theme.scss */
.slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 20px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* line 100, ../scss/slick-theme.scss */
.slick-prev { left: -25px; }
/* line 102, ../scss/slick-theme.scss */
[dir="rtl"] .slick-prev { left: auto; right: -25px; }
/* line 106, ../scss/slick-theme.scss */
.slick-prev:before { content: "←"; }
/* line 108, ../scss/slick-theme.scss */
[dir="rtl"] .slick-prev:before { content: "→"; }

/* line 114, ../scss/slick-theme.scss */
.slick-next { right: -25px; }
/* line 116, ../scss/slick-theme.scss */
[dir="rtl"] .slick-next { left: -25px; right: auto; }
/* line 120, ../scss/slick-theme.scss */
.slick-next:before { content: "→"; }
/* line 122, ../scss/slick-theme.scss */
[dir="rtl"] .slick-next:before { content: "←"; }

/* Dots */
/* line 130, ../scss/slick-theme.scss */
.slick-slider { margin-bottom: 30px; }

/* line 134, ../scss/slick-theme.scss */
.slick-dots { position: absolute; bottom: -45px; list-style: none; display: block; text-align: center; padding: 0; width: 100%; }
/* line 142, ../scss/slick-theme.scss */
.slick-dots li { position: relative; display: inline-block; height: 20px; width: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
/* line 150, ../scss/slick-theme.scss */
.slick-dots li button { border: 0; background: transparent; display: block; height: 20px; width: 20px; outline: none; line-height: 0px; font-size: 0px; color: transparent; padding: 5px; cursor: pointer; }
/* line 162, ../scss/slick-theme.scss */
.slick-dots li button:hover, .slick-dots li button:focus { outline: none; }
/* line 164, ../scss/slick-theme.scss */
.slick-dots li button:hover:before, .slick-dots li button:focus:before { opacity: 1; }
/* line 168, ../scss/slick-theme.scss */
.slick-dots li button:before { position: absolute; top: 0; left: 0; content: "•"; width: 20px; height: 20px; font-family: "slick"; font-size: 6px; line-height: 20px; text-align: center; color: black; opacity: 0.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
/* line 185, ../scss/slick-theme.scss */
.slick-dots li.slick-active button:before { color: black; opacity: 0.75; }
