/* Slider */
/* line 3, ../scss/slick.scss */
.slick-slider { position: relative; display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

/* line 18, ../scss/slick.scss */
.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
/* line 25, ../scss/slick.scss */
.slick-list:focus { outline: none; }
/* line 29, ../scss/slick.scss */
.slick-list.dragging { cursor: pointer; cursor: hand; }

/* line 34, ../scss/slick.scss */
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

/* line 43, ../scss/slick.scss */
.slick-track { position: relative; left: 0; top: 0; display: block; }
/* line 49, ../scss/slick.scss */
.slick-track:before, .slick-track:after { content: ""; display: table; }
/* line 55, ../scss/slick.scss */
.slick-track:after { clear: both; }
/* line 59, ../scss/slick.scss */
.slick-loading .slick-track { visibility: hidden; }

/* line 63, ../scss/slick.scss */
.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
/* line 67, ../scss/slick.scss */
[dir="rtl"] .slick-slide { float: right; }
/* line 70, ../scss/slick.scss */
.slick-slide img { display: block; }
/* line 73, ../scss/slick.scss */
.slick-slide.slick-loading img { display: none; }
/* line 79, ../scss/slick.scss */
.slick-slide.dragging img { pointer-events: none; }
/* line 83, ../scss/slick.scss */
.slick-initialized .slick-slide { display: block; }
/* line 87, ../scss/slick.scss */
.slick-loading .slick-slide { visibility: hidden; }
/* line 91, ../scss/slick.scss */
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

/* line 97, ../scss/slick.scss */
.slick-arrow.slick-hidden { display: none; }
